@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;

}


html {
    scroll-behavior: smooth;
    font-size: 70%;
    
  }

  .container-fluid{
    height: 5rem;
    font-size: 2rem;
}

#tt_logo{
    height: 4rem;
    width: 4rem;
}

  

.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    /* height: 4rem; */
    z-index: 10000;
    
}

.bg-body-tertiary{
    background-color: #101820 !important;

}
.collapse .navbar-nav .nav-link{
    color: aliceblue;
    
}
#tagLine{
position: relative;
top: 4rem;
}


.courses{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcec63;
}
.mb-3{
    width: 70%;
}

#timetable{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #101820;
}
#ttable{
    position: relative;
    top: .8rem;
}

.searchButton{
    width: 70%;
}

.row1{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.row2{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.row3{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.row4{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.row5{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.row6{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.row7{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.row8{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.row9{

    width: 100rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.col11{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col12{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col13{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col14{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col21{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col22{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col23{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col24{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col31{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col32{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col33{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col34{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col41{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col42{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col43{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col44{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col51{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col52{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col53{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col54{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col71{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col72{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col73{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col74{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col61{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col62{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col63{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col64{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col81{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col82{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col83{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col84{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.col91{
    width: 16rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col92{
    width: 52rem;
    height: 4rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col93{
    width: 16rem;
    height: 3.8rem;
    border-right: .2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col94{
    width: 16rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 7rem;
    margin: 4rem;
}


}

#tt_logo{
    width: 2.5rem;
}

#exampleFormControlInput1{
    border: .2rem solid #101820;
    border-radius: 10px;
}



.form-inline{
    display: flex;
    
}

#navbarNavAltMarkup{
    align-content: end;
}
.navbar-toggler{
    background-color: #fff;
}
h3{
    text-align: center;
    margin-bottom: 1rem;
    
}


/* @media(max-width:1600px){
 
    .navbar{
        height: 3rem;
    }

}

@media(max-width:1200px){


}

@media(max-width:992px){
    html{
        font-size: 75%;
    }
    .navbar{
        height: auto;
    }

}

@media(max-width:769px){
    html{
        font-size: 65%;
    }
}

@media(max-width:663px){
    html{
        font-size: 55%;
    }
}

@media(max-width:555px){
    html{
        font-size: 45%;
    }
}
@media(max-width:450px){
    html{
        font-size: 40%;
    }
}
@media(max-width:404px){
    html{
        font-size: 32%;
    }
}
@media(max-width:380px){
    html{
        font-size: 35%;
    }
} */
@media(max-width:2000px){
    html{
        font-size: 60%;
    }
    #codes{
        font-size: 7rem;
    }

    #exampleFormControlInput1{
        margin-top: 4rem;
        height: 8rem;
        font-size: 3rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 5rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 5rem;
        font-size: 2rem;
    }
    #tt_logo{
        height: 4rem;
        width: 4rem;
    }
    #timetable{
        height: 96vh;
        font-size: 100%;
        width: auto;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}




@media(max-width:1400px){
    html{
        font-size: 45%;
    }
    #codes{
        font-size: 6rem;
    }

    #exampleFormControlInput1{
        margin-top: 4rem;
        height: 8rem;
        font-size: 3rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 5rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 5rem;
        font-size: 2rem;
    }
    #tt_logo{
        margin-left: 2rem;
        height: 4rem;
        width: 4rem;
    }
    #timetable{
        height: 96vh;
        font-size: 100%;
        width: auto;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}


@media(max-width:1300px){
    html{
        font-size: 54%;
    }
    #codes{
        font-size: 7rem;
    }

    #exampleFormControlInput1{
        margin-top: 4rem;
        height: 8rem;
        font-size: 3rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 5rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 5rem;
        font-size: 2rem;
    }
    #tt_logo{
        height: 4rem;
        width: 4rem;
    }
    #timetable{
        height: 80vh;
        font-size: 100%;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}


@media(max-width:1200px){
    html{
        font-size: 51%;
    }
    #codes{
        font-size: 5rem;
    }

    #exampleFormControlInput1{
        margin-top: 1rem;
        height: 8rem;
        font-size: 3rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 3.4rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 5rem;
        font-size: 2rem;
    }
    #tt_logo{
        height: 4rem;
        width: 4rem;
    }
    #timetable{
        height: 100vh;
        font-size: 100%;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}


@media(max-width:991px){
    html{
        font-size: 44%;
    }
    #codes{
        font-size: 7rem;
        margin-top: 4rem;
    }

    #exampleFormControlInput1{
        margin-top: 4rem;
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 5rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 14rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height: 100vh;
        font-size: 100%;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}


@media(max-width:892px){
    html{
        font-size: 39%;
    }
    #codes{
        margin-top: 12rem;
        font-size: 4rem;
    }

    #exampleFormControlInput1{
        
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 2rem;
        margin: 1rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 10rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height:120vh;
        font-size: 100%;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}

@media(max-width:792px){
    html{
        font-size: 25%;
    }
    #codes{
        margin-top: 5rem;
        font-size: 10rem;
    }

    #exampleFormControlInput1{
        margin-top: 1rem;
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 6rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 10rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height: 100vh;
        font-size: 100%;
    }
    

    h3{
        font-size: 7rem;
        margin: 2rem;
    }
}


@media(max-width:695px){
    html{
        font-size: 29%;
    }
    #codes{
        font-size: 5rem;
    }

    #exampleFormControlInput1{
        margin-top: 1rem;
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 4rem;
        margin: 1rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 15rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height: 100vh;
        font-size: 100%;
        width: auto;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}

@media(max-width:591px){
    html{
        font-size: 25%;
    }
    #codes{
        font-size: 8rem;
    }

    #exampleFormControlInput1{
        margin-top: 1rem;
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 6rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 15rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height: 100vh;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}

@media(max-width:493px){
    html{
        font-size: 19%;
    }
    #codes{
        margin-top: 2rem;
        font-size: 14rem;
    }

    #exampleFormControlInput1{
        margin-top: 2rem;
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 8rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 15rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height: 100vh;
        font-size: 100%;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
}

@media(max-width:391px){
    html{
        font-size: 15%;
    }
    #codes{
        font-size: 15.6rem;
    }

    #exampleFormControlInput1{
        margin-top: 1rem;
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 8rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 15rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height: 100vh;
        font-size: 100%;
    }
    

    h3{
        font-size: 7rem;
        margin: 4rem;
    }
   
    
}


 @media(max-width:296px){
    html{
        font-size: 11%;
    }
    #codes{
        font-size: 15rem;
    }
    #exampleFormControlInput1{
        margin-top: 4rem;
        height: 8rem;
    }
    button{
        width: 10rem;
    }
    #tagLine{
        font-size: 10rem;
        margin: 4rem 4rem 4rem 10rem;
    }
    .container-fluid{
        height: 15rem;
    }
    #tt_logo{
        height: 9rem;
        width: 9rem;
    }
    #timetable{
        height: 100vh;
    }
} 

